.body_index {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(" /images/8557803.jpg ");
    /* background-image:url(" /images/8557803.jpg "); */
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    margin:5px;
    
}


.calendly-inline-widget{
    min-width:300px;
    height:350px;
    border-radius: 10px;
}
.buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button1,
.button2 {
    width: 48%;
    border: none;
    border-radius: 5px;
    background-color: rgb(226, 191, 216);
    color: #362f2f;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "Charm", cursive;
    font-size: 1rem;
    transition: transform 0.2s, border 0.2s;
}

.button1:hover,
.button2:hover {
    cursor: pointer;
}

.button1:active,
.button2:active {
    transform: scale(1.1.8);
    border: 2px solid rgb(54, 50, 50);
}



.body_index-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}


.header_title h1{
    font-family: "Jacquard 24";
    font-family: "Tangerine", cursive;  
    font-family: "Parisienne", cursive;
    /* font-family: "Mr Dafoe", cursive; */
    font-style: normal;
    font-size: 5.5rem;
    color: #332e2e;
    margin-bottom: 0px;
    margin-top: 10%;
    text-shadow:  2px 2px rgba(114, 108, 108, 0.2);
    
}

.header_name h3{
    font-family: "Tangerine", cursive;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 2px;
    /* text-shadow:  2px 2px rgba(0, 0, 0, 0.4); */
}
.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.redes i{
    text-decoration: none;
    cursor: pointer;
    color: #332e2e;
}
.images {
    display: block;

}
.all_images {
    max-height: 60px; 
    overflow-x: auto; 
    white-space: nowrap; 
    margin-top: 10px;
    background-color: rgb(226, 191, 216);
}

.all_images img {
    cursor: pointer;
    display: inline-block; 
    margin-right: 2px;
    max-width: 60px;
    max-height: 40px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.2);
    
}

.image_select img{
    width: 100%;
    max-height: 700px;
}

.reserva {
    display: none;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .main{
        padding: 10%;
        padding-top: 0%;
    }
    .all_images{
        background: none;
    }
    .header_title h1{
        margin-top: 5%;
    }
    .reserva{
        margin-top: 6%;
    }
}
@media (min-width: 1230px) {
    .reserva{
        margin-top: 6%;
    }
    .main{
        padding: 30%;
        padding-top: 0%;
    }
    .header_title h1{
        margin-top: 2%;
    }
}